.numSelectButtons {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessionKeyText {
    text-align: center;
}

.caseInput {
    padding: 0.3em;
}

.caseSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caseSubmitBtn {
    background-color: blue;
    color: white;
    width: 5em;
}

.nextTurn {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nextTurnBtn {
    margin-top: 2em;
}

.actionSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    grid-gap: 2em;
}

.actionBtn {
    width: 12em;
}

.actionSelectName {
    margin-bottom: -1em;
}

.endTurnConfirmation {
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
}

.confirmBtn {
    width: 5em;
}

.backBtn {
    margin-left: 0.4em;
    margin-top: 0.4em;
}

.poll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    margin-top: 3em;
}

.pollTypeBtn {
    width: 8em;
}

.pollTag {
    margin-top: 3em;
}

.pollTagRow {
    margin-top: 1em;
}

.nextPlayerPoll {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nextPlayerPollBtn {
    margin-top: 2em;
    width: 6em;
}

.playerAnon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
}

.confirmBtnRow {
    grid-gap: 4em;
}

.pollDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pollExclude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 0.5em;
    margin-top: 0.4em;
}

.playerExcludeBtn {
    margin-top: 1em;
}

.excludeSubmitBtn {
    margin-top: 1em;
}

.err {
    color: red;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.accuseDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 0.5em;
    margin-top: 0.8em;
}

.accuseEndGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    margin-top: 2em;
}

.endOfGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    margin-top: 2em;
}

.endGameDisplay {
    margin-left: 2em;
    margin-top: 2em;
}