.numSelectButtons {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessionKeyText {
    text-align: center;
}

.caseInput {
    padding: 0.3em;
}

.caseSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caseSubmitBtn {
    background-color: blue;
    color: white;
    width: 5em;
}